<section class="hero is-info">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Private Events
            </h1>
            <h2 class="subtitle">
                By Dennis Cope
            </h2>
            <p class="paragraph">
                Private Events is like Eventbrite. Users can attend, create, 
                and send invitations for events.
            </p>
            <p class="paragraph">
                To check out its features, try logging in under the username: "example_user"
            </p>

        </div>
    </div>
</section>
<section class="section has-text-centered">
    <p class="paragraph">
        This project was created for 
        <%= link_to("The Odin Project Curriculum", 
        "https://www.theodinproject.com/courses/ruby-on-rails/lessons/associations") %>.
    </p>
</section>