<% provide(:page, "Log in") %>
<h1 class="is-size-3">Log in</h1>
<hr>
<div class="column is-6">
    <%= form_with(scope: :login, local: true, url: login_path, method: :post) do |f| %>
        <div class="field">
            <%= f.label :username, class: "label" %>
            <%= f.text_field :username, class: "control input"%>
        </div>

        <%= f.submit :submit, class: "button is-link" %>
    <% end %>
</div>
