<% provide(:page, "Sign Up") %>
<h1 class="is-size-3">Sign Up</h1>
<hr>
<div class="column is-6">
    <%= form_with(model: @user, local: true) do |f| %>
        <div class="field">
            <%= f.label :create_username, class: "label" %>
            <%= f.text_field :username, class: "control input" %>
        </div>

        <%= f.submit :submit, class: "button is-link" %>
    <% end %>
</div>