<footer class="footer">
  <div class="content has-text-centered">
    <p class="is-size-5">Visit my Github</p>
    <%= link_to(image_tag("https://coped.s3-us-west-1.amazonaws.com/icons/github-logo.svg", size: "100x100"),
                           "https://github.com/coped") %>
  </div>
</footer>